img.imgLog {
    width: 60px;
    height: 50px;
}

.jus{
    text-align: justify;
}
.wit{
    width: 400px;
    height: 300px;
}

.tam{
    width: 150px;
    height: 150px;
}

.Bold{
    font-weight: bold;
    color:#fff;
}

.marg{
    margin-top: 20%;
}

.tama{
    width: 400px;
    height: 250px;
}

.container{
    margin: 0 auto;
}

.tamañ{
    width: 700px;
    height: 250px;
}

.loguito{
    width: 500px;
    height: 350px;
}
.foo{
    height: auto;
}

section#dish {
    padding: 25px;
    padding-bottom: 30px;
}
.section-gap {
   padding: 39px 0;
}
#mobile-nav-toggle i {
    color: #ffffff;
    font-weight: 900;
}
.video-area {
    background: url(../img/images/UberEats.jpg) center;
    background-size: auto 100%;
    text-align: center;
    background-repeat: no-repeat;
}
.nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #222;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
    font-weight: bold;
}
.row.justify-content-center.d-flex.align-items-center {
    align-items: end !important;
}
.banner-area {
    background: url(../img/images/instalaciones7.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 1100px;
}
.contacto {
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    background-color: #EEF5F9;
    background-size: cover;
    padding-top: 1px;
    padding-bottom: 19px;
    margin-top: -21px;
}
.wid{
    width: 90%;
}
.marg{

}

@media (max-width:600px) {
    .video-area {
        background: url(../img/images/UberEats.jpg) center;
        background-size: 100%;
        padding: 23px 0px;
        text-align: center;
        background-repeat: no-repeat;
        background-color: #000;
        background-position-y: -39px;
    }
    .tam {
        width: 100px;
        height: 100px;
    }
    .pt-100 {
        padding-top: 50px;
    }
    .feature-section {
        border-bottom: 1px solid #eee;
        padding-bottom: 50px;
    }
    .pb-30 {
        padding-left: 10px;
        padding-bottom: 30px;
        padding-right: 10px;
    }
    p.footer-text.m-0.text-center {
        text-align: center;
        padding-left: 30px;
    }
    .wit {
        width: 400px;
        height: auto;
    }
}
